
<div *ngIf="zalogowany==false">
    <form (ngSubmit)="onSubmit()" class="my-form" #form="ngForm">  
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-around">  
    <div>
        <mat-form-field class="mx-2">
        <mat-label>Login: </mat-label>
        <input placeholder="Login" required name="login">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="mx-2">
        <mat-label>Hasło: </mat-label>
        <input placeholder="Haslo" name="Haslo" required type="password">
        </mat-form-field>
    </div>
</div>
</div>
<div class="d-flex flex-row-reverse">
    <input type="submit" value="Zaloguj" class="btn btn-success">
</div>
</form>

</div>
<div *ngIf="zalogowany==true">'
    <h1>Witaj  {{user.Login}}</h1> 
    <h3>Status {{user.Status}}</h3>

    <h1>Twoje wypożyczone książki: </h1> 
    <app-wypozyczenia></app-wypozyczenia>
</div>

